.categor1{
    font-size: 40px;
    color: blue;
}
.categor2{
    font-size: 30px;
    color: blue;
}
.categor3{
    font-size: 20px;
    color: blue;
}
.categor4{
    font-size: 20px;
    color: blue;
}